
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>Index</title>
</head>
<body>
    <h1>Test</h1>
    <script src="~/Scripts/Dashboard.js"></script>
</body>
</html>
