@model GestionVacacionesUnitec.ServiceReference1.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test2Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
