
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <title>Gestion Vaciones Personal UNITEC</title>

    <link href="~/Content/logincss.css" rel="stylesheet" />
    <link rel='stylesheet prefetch' href='http://daneden.github.io/animate.css/animate.min.css'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>



</head>
<body>
    <div class='form animated bounceInDown'>
        <h2>Inicie Sesion Unitec <img src="~/Content/images/logouniteclogin.jpg" width="120" height="32"/></h2>
        <form>
            <input id="USERNAME" placeholder='Username' type='text'>
            <input id="PASSWORD" placeholder='Password' type='password'>
            <button id="SUBMIT" class='animated pulse'>Iniciar</button>
        </form>
    </div>



    <script src="~/Scripts/Login.js"></script>
</body>
</html>
