
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>Form</title>



</head>
<body>
    <div class='form animated flipInX'>
        <h2>Inicie Sesion Unitec <img src="images/logounitecpeque.jpg" /></h2>
        <form>
            <input  placeholder='talento_humano' type='talento_humano'></br></br>
            <input id="email" placeholder='email' type='email'></br></br>
            <input  placeholder='email' type='email'></br></br>
            <input type='password'></br></br>
            <input id="password" placeholder='primer_nombre' type='primer_nombre'></br></br>
            <input placeholder='segundo_nombre' type='segundo_nombre'></br></br>
            <input placeholder='primer_apellido' type='primer_apellido'></br></br>
            <input placeholder='segundo_apellido' type='segundo_apellido'></br></br>
            <input placeholder='fecha_ingreso' type='fecha_ingreso'></br></br>
            <input placeholder='fecha_creacion' type='fecha_creacion'></br></br>
            <input id="btn" type="checkbox" value='activo'></br></br>
            <button class='animated pulse' onclick="">Crear</button>
        </form>
    </div>



    <script src="~/Scripts/JavaScript1.js"></script>
</body>
</html>