
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.js")"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.custom.min.js"></script> 
    <title>TestStartIndex</title>
</head>
<body>
    <div> @Html.ActionLink("Correr", "Login")
         <button>
             
         </button>

        <form action="/" method="post">

            <input type="text" name="name" value=" " />

            <a href="/TestForService/Login">this is correr</a>
            <a href="#" id="testlink">This is my test link</a>
        </form>


        
    </div>
        
    <script src="@Url.Content("~/Scripts/JavaScript1.js")"></script>

</body>
</html>
