
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Gestion de Vacaciones UNITEC</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/stylesmenu.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="script.js"></script>

    <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
    <div id="main">
        <header>
            <div id="logo">
                <div id="logo_text">

                    <img src="~/Content/images/logounitecpeque.jpg">
                </div>

            </div>

            <nav>
                <div id='cssmenu'>
                    <ul>
                        <li><a href='http://localhost:1755/Home/Index'><span>Inicio</span></a></li>
                        <li><a href='#'><span>Solicitudes</span></a></li>
                        <li> <a href='calendar.html'><span>Calendario</span></a> </li>
                        <li><a href='http://localhost:1755/Form/ViewCrearUsuario'><span>Crear Usuario</span></a></li>
                        <li><a href='http://localhost:1755/Form/ViewCrearDepartamento'><span>Crear Departamento</span></a></li>
                        <li><a href='http://localhost:1755/Form/ViewCrearRol'><span>Crear Rol</span></a></li>
                    </ul>
                </div>
            </nav>
        </header>

    </div>
    <div id="site_content">
        <div id="site_creacion">
            <form action="">
                <h2>Crear nuevo rol</h2>
                <h4>ID del Rol <input id="roleID" placeholder='iddepto' type='iddepto'></h4>
                <h4>Descripcion del Rol <input id="roleName" placeholder='desdepto' type='desdepto'></h4>
                <h4>Activo  <input id="roleActive" type="checkbox" value='activo'></h4>
                <button id="submitRole">Crear nuevo rol </button>
            </form>
        </div>
    </div>


    <footer><img src="~/Content/images/footer.jpg"></footer>
    </div>
    <p>&nbsp;</p>
    <!-- javascript en la parte de abajo para que cargue mas rapido -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
    <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
    <script type="text/javascript" src="js/image_fade.js"></script>
    <script src="~/Scripts/CreateRoleForm.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
    </script>
</body>
</html>
