
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Gestion de Vacaciones UNITEC</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/stylesmenu.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="script.js"></script>

    <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
    <div id="main">
        <header>
            <div id="logo">
                <div id="logo_text">

                    <img src="images/logounitecpeque.jpg">
                </div>

            </div>

            <nav>
                <div id='cssmenu'>
                    <ul>
                        <li><a href='~/Views/Home/DashBoard.cshtml'><span>Inicio</span></a></li>
                        <li><a href='#'><span>Solicitudes</span></a></li>
                        <li> <a href='calendar.html'><span>Calendario</span></a> </li>
                        <li><a href='~/Views/Home/ViewCrearUsuario.cshtml'><span>Crear Usuario</span></a></li>
                        <li><a href='~/Views/Home/ViewCrearDepartamento.cshtml'><span>Crear Departamento</span></a></li>
                        <li><a href='~/Views/Home/ViewCrearRol.cshtml'><span>Crear Rol</span></a></li>
                    </ul>
                </div>
            </nav>
        </header>

    </div>
    <div id="site_content">
        <div id="sidebar_container">
            <div class="gallery">
                <ul class="images">

                    <table style="width:330px" border="1">
                        <tr>
                            <td><center><img src="images/profile.png" width="90px" height="125px"></center></td>
                        </tr>
                        <tr>
                            <td><center><a href="#"> Napky| Solicitud</a></center></td>
                        </tr>
                        <tr>
                            <td><center><a href="#">Jesus Murillo| Solicitud</a></center></td>

                        </tr>
                        <tr>
                            <td><center><a href="#">Sully Mancia| Solicitud</a></center></td>
                        </tr>
                        <tr>
                            <td><center><a href="#">Josue Enamorado| Solicitud</a></center></td>
                        </tr>
                        <tr>
                            <td><center><a href="#">Daniel Zelaya| Solicitud</a></center></td>
                        </tr>
                        <tr>
                            <td><center><a href="#">Alejandro Ferrera| Solicitud</a></center></td>
                        </tr>

                    </table>


                </ul>
            </div>
        </div>
        <div id="site_creacion">
            <form action="">
                <h2>Crear Departamento</h2>
                <h4>ID Departamento <input placeholder='iddepto' type='iddepto'></h4>
                <h4>Descripcion del depto <input placeholder='desdepto' type='desdepto'></h4>

                <h4>Activo / Inactivo  <input type="checkbox" value='activo'></h4>
                <button onclick="">Crear Departamento</button>
            </form>
        </div>
    </div>


    <footer><img src="images/footer.jpg"></footer>
    </div>
    <p>&nbsp;</p>
    <!-- javascript en la parte de abajo para que cargue mas rapido -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
    <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
    <script type="text/javascript" src="js/image_fade.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
    </script>
</body>
</html>
