
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>

<head>
    <title>Gestion de Vacaciones UNITEC</title>



</head>

<body>


    <div id="site_creacion">
        <h2>Solicitud de Vacaciones</h2>
        <h4>San Pedro Sula "FECHA DE HOY"</h4>

        <h4>Estimado "JEFE DE AREA"</h4>

        <h4>Por medio de la presente le solicito se me concedan mis vacaciones correspondientes al "RECIBE EL AÑO" año de laborar en UNITEC, desempeñ&aacute;ndome en el puesto de "PUESTO DEL EMPLEADO".</h4><br />
        <h4> Dichas vacaciones ser&aacute;n a partir del "FECHA DE RETIRO"</h4><br />
        <h4>Agradeciendo de antemano su atenci&oacute;n a la presente.</h4><br />

        <h4> Atentamente,</h4><br />

        <h4>______________________________ &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;_______________________________</h4></h4>
        <h4>&emsp; &emsp; Solicitado por (Nombre) &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Firma </h4><br />

        <h4>Observaciones: ________________________________________________________________________</h4>
        <h4>_____________________________________________________________________________________</h4>
        <h4>_____________________________________________________________________________________</h4>
        <h4>_____________________________________________________________________________________</h4><br />


        <h4>D&iacute;as correspondientes: &emsp; 1 año: <input placeholder='1año' type='1year' size="2px"> &emsp; 2 año: <input placeholder='2año' type='2year' size="2px"> &emsp; __año: <input placeholder='__año' type='3year' size="2px"> &emsp; __año: <input placeholder='__año' type='4year' size="2px"> </h4> <br />
        <h4>Dias Solicitados: <input placeholder='Dias Solicitados' type="date" size="15"> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Fecha de Salida: <input placeholder='dd/mm/aaaa' type="date" size="15"></h4> <br />
        <h4>Dias tomados anteriormente: <input placeholder='Dias tomados' type="diastomados" size="15"> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Fecha de Regreso: <input placeholder='dd/mm/aaaa' type="date" size="15"></h4><br />
        <h4>Dias pendientes a tomar: <input placeholder='Dias tomados' type="diastomados" size="15"> </h4><br />
        <h4>Fecha de ingreso a la instituci&oacute;n: <input placeholder='dd/mm/aaaa' type="date" size="15"> &emsp; &emsp; &emsp; &emsp;  Fecha de aprobaci&oacute;n: <input placeholder='dd/mm/aaaa' type="date" size="15"></h4>
        <h4>______________________________________ &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;_______________________________</h4></h4>
        <h4>Aprobado por Jefe inmediato (Nombre y firma)  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Revisado por talento humano</h4><br />


</body>
</html>
