
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>ViewCrearSolicitud</title>
</head>
<body>
    <div> 
        ahuehue
    </div>
    <script src="~/Scripts/CrearSolicitud.js"></script>
</body>
</html>
